@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.btn-default,
.btn-primary {
  &.ant-btn-default {
    display: flex;
    align-items: center;
  }
  &.ant-btn {
    font-size: 1.6rem;
    padding: 20px;
    @media (max-width: $sm-max-width) {
      font-size: 1.2rem;
    }
  }
}

.btn-default {
  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--bg-color-btn-default-hover) !important;
    color: var(--font-color-black) !important;
    border-color: var(--bg-color-btn-default-hover) !important;
  }
}

.btn-primary {
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--bg-color-btn-primary-hover);
    color: var(--font-color-white);
    border-color: var(--bg-color-btn-primary-hover);
  }
}

.btn-default {
  &.ant-btn-default {
    border-radius: 20px;
    color: var(--font-color-black);
    background-color: var(--bg-color-btn-default);
    border: 2px solid var(--primary-color);
  }
}

.btn-primary {
  &.ant-btn-default {
    border-radius: 20px;
    background-color: var(--bg-color-btn-primary);
    color: var(--font-color-white);
    border: 1px solid var(--bg-color-btn-primary);
  }
}

.ant-btn-primary {
  color: var(--font-color-black)!important;
  background: var(--bg-color-btn-primary)!important;

  &:hover {
    color: var(--font-color-white)!important;
  }
}

.ant-btn-default {
  color: var(--font-color-black) !important;
  background: var(--bg-color-btn-default) !important;
  border: 1px solid #d9d9d9 !important;
  &:hover {
    color: var(--font-color-primary)!important;
    border: 1px solid var(--bg-color-btn-primary)!important;
  }
}
