@import '@/styles/mixins.scss';

.services-container {
  margin: 0 auto 30px;
  @media (max-width: 1210px) {
    margin: 30px 0;
  }
  .services-content {
    h1 {
      font-size: 3.5rem;
      line-height: 34px;
      margin-bottom: 20px;
    }
    .services-items {
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);

      .items-first-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @media (max-width: $xl-min-width) {
          margin: 0px 30px;
          margin-bottom: 30px;
        }
        @media (max-width: $md-min-width) {
          margin: 0px;
          margin-bottom: 30px;
        }
      }
      .items-second-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .block-services-item {
        width: 280px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
        border-radius: 15px;
        padding: 30px 0;
        cursor: pointer;

        p {
          font-size: 2rem;
          line-height: 34px;
          font-weight: 600;
          text-align: center;
        }
      }
      .services-active {
        background-color: #5aaf32;
        color: #ffffff;
      }
      .items-second-row-carousel {
        .ant-flex {
          margin: 10px 0;
        }
      }
      .wrapper-arrow-carousel {
        background: transparent;
        svg {
          font-size: 2.4rem;
          color: #000;
        }
      }
      .ant-carousel .slick-prev {
        left: 5px;
        @media (max-width: $md-min-width) {
          left: -15px;
        }
        @media (max-width: $sm-min-width) {
          left: -25px;
        }
      }
      .ant-carousel .slick-next {
        right: 5px;
        @media (max-width: $md-min-width) {
          right: -15px;
        }
        @media (max-width: $sm-min-width) {
          right: -25px;
        }
      }
    }
    .services-detail {
      margin: 30px 0;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
      h2 {
        font-size: 3rem;
        line-height: 40px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
        @media (max-width: $md-min-width) {
          font-size: 2.8rem;
        }
        @media (max-width: $sm-min-width) {
          font-size: 2.5rem;
        }
        @media (max-width: $xs-min-width) {
          font-size: 2.3rem;
          line-height: 34px;
          text-align: center;
        }
      }
      .detail-image {
        height: 100%;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          @media (max-width: $xs-min-width) {
            margin-bottom: 10px;
          }
        }
      }
      .detail-content {
        line-height: 30px;
        @media (max-width: $xs-min-width) {
          text-align: justify;
        }
      }
    }
  }
}
