:root {
  --bg-header-color: #1f2959;
  --bg-row-table-color: #f2f2f2;
  --primary-color: #33890a;
  --secondary-color: #5aaf32;
  --bg-color-btn-default: #ffffff;
  --bg-color-btn-default-hover: #5aaf32;
  --bg-color-btn-primary: #5aaf32;
  --bg-color-btn-primary-hover: #33890a;
  --bg-color-white: #ffffff;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
  --fs-text-primary: 16px;
  --fs-title-primary: 20px;
  --fs-text-mobile: 14px;
  --fs-header-primary: 34px;
  --fs-banner-medium: 60px;
  --fs-banner-larger: 140px;
  --fs-banner-small: 90px;
  --fs-header-mobile: 28px;
  --padding-small: 10px;
  --padding-medium: 22px;
  --font-color-black-2: #33363f;
  --font-color-black-3: #5e5b5b;
  --font-color-black-4: #8e908d;
  --bg-row-table-color-2: #f3f3f3;
  --bg-color-btn-default-2: #e6ea37;
  --bg-color-btn-default-active: #b8bc0a;
  --bg-color-rectangle-top: #ffe450;
  --font-color-banner: #414241;
  --font-color-banner-2: #ccd2e3;
  --bg-row-table-color-2: #f3f3f3;
  --bg-color-btn-default-2: #e6ea37;
  --bg-color-btn-default-active: #c4c730;
  --bg-color-rectangle-top: #ffe450;
  --fs-header-mobile-2: 24px;
  --fs-title-1: 36px;
  --fs-title-2: 30px;
  --fs-title-3: 24px;
  --fs-title-4: 20px;
  --fs-title-5: 18px;
  --fs-title-6: 16px;
  --fs-title-7: 15px;
  --fs-1: 20px;
  --fs-2: 18px;
  --fs-3: 16px;
}
