@import '@/styles/mixins.scss';

.home-contact {
  max-width: 1210px;
  margin: 40px auto;
  @media (max-width: 1210px) {
    margin: 40px 20px;
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 900px;
    padding: 30px 100px;
    border: 1px solid #33890a;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #ffe450;
    @media (max-width: 900px) {
      width: 100%;
      padding: 20px 10px;
    }
    @media (max-width: $xs-min-width) {
      margin-top: 0px;
    }

    .text-desc {
      font-size: 2rem;
      line-height: 24px;
      color: #33890a;
      font-weight: 300;
      margin-top: 40px;
      text-align: center;
    }
    .container-info {
      h3 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 68px;
        color: #000;
        margin-bottom: 26px;

        @media (max-width: $sm-min-width) {
          font-size: 3.5rem;
          line-height: 50px;
        }
      }
      .text-info {
        width: 535px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        @media (max-width: 535px) {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        p {
          font-size: 1.8rem;
          line-height: 24px;
          color: #000;
        }
        a {
          font-size: 1.8rem;
          line-height: 24px;
          color: #000;
        }
        span {
          margin-right: 15px;
        }
        .text-margin {
          margin-bottom: 25px;
        }

        .block-mobile {
          @media (max-width: $xs-min-width) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
