@import '@/styles/mixins.scss';

.home-overview {
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 40px;
  @media (max-width: 1210px) {
    margin: 40px 20px;
  }
  .quick-fact-container {
    @media (min-width: $sm-max-width) {
      padding: 0 20px;
    }
    .quick-fact {
      max-width: 966px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 16px;
      padding: 48px 68px;
      @media (max-width: $md-min-width) {
        padding: 30px;
      }
      @media (max-width: $xs-min-width) {
        padding: 25px;
        border-radius: 10px;
      }
      .overview-title {
        width: 100%;
        position: relative;
        h3 {
          font-size: 4rem;
          line-height: 50px;
          font-weight: 700;
          color: #000;
          text-align: center;
          text-shadow:
            2px 8px 6px rgba(0, 0, 0, 0.2),
            0px -5px 35px rgba(255, 255, 255, 0.3);
          @media (max-width: $sm-min-width) {
            font-size: 3.5rem;
          }
          @media (max-width: $xs-min-width) {
            font-size: 3rem;
          }
        }
        .overview-year {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          color: #ff0000;
          font-size: 1.5rem;
          line-height: 34px;
          font-weight: 400;
          @media (max-width: $sm-min-width) {
            font-size: 1.2rem;
          }
          @media (max-width: $xs-min-width) {
            display: none;
            position: relative;
          }
        }
        .responsive-overview-year {
          display: none;
          color: #ff0000;
          font-size: 1.5rem;
          line-height: 34px;
          font-weight: 400;
          @media (max-width: $xs-min-width) {
            display: block;
            text-align: center;
          }
        }
      }

      .text-color {
        margin: 35px 0;
        display: flex;
        justify-content: space-between;
        column-gap: 22px;
        row-gap: 20px;
        flex-wrap: wrap;
        @media (max-width: $sm-min-width) {
          margin: 15px 0;
        }

        .count-up {
          margin: 0 8px;
        }

        .text-card {
          font-size: 3rem;
          line-height: 56px;
          font-weight: 700;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          @media (max-width: $xs-min-width) {
            font-size: 2.5rem;
          }
        }
        .text-red {
          color: #ff0c0c;
        }
        .text-green {
          color: #33890a;
        }
        .text-yellow {
          color: #ecc805;
        }
        .text-blue {
          color: #3305ec;
        }
      }
      .text-intro {
        font-size: 1.5rem;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
