@import '@/styles/mixins.scss';

.container-rectangle {
  margin-bottom: 30px;
  @media (max-width: $md-min-width) {
    margin-bottom: 16px;
  }
  h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 44px;
    color: #33363f;

    @media (max-width: $md-min-width) {
      font-size: 2.7rem;
    }
    @media (max-width: $sm-min-width) {
      font-size: 2.5rem;
    }
    @media (max-width: $xs-min-width) {
      font-size: 2rem;
    }
  }

  .rectangle-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .rectangle-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .rectangle {
    width: 64%;
    overflow: hidden;
    @media (max-width: $md-min-width) {
      width: 60%;
    }
    @media (max-width: $sm-min-width) {
      width: 50%;
    }
    @media (max-width: $xs-min-width) {
      display: none !important;
    }

    .rectangle-top {
      width: 32%;
      height: 12px;
      border-radius: 8px;
      background: var(--bg-color-rectangle-top);
      margin-bottom: 7px;
      order: 1;
    }

    .rectangle-bottom {
      width: 64%;
      height: 12px;
      border-radius: 8px;
      background: var(--bg-color-btn-primary);
      order: 2;
    }
  }
  .rectangle-midle {
    width: 64%;
    overflow: hidden;
    @media (max-width: $md-min-width) {
      width: 50%;
    }
    @media (max-width: $sm-min-width) {
      width: 43%;
    }
    @media (max-width: $xs-min-width) {
      display: none !important;
    }
    .rectangle-top {
      width: 32%;
      height: 12px;
      border-radius: 8px;
      background: var(--bg-color-rectangle-top);
      margin-bottom: 7px;
      order: 1;
    }

    .rectangle-bottom {
      width: 64%;
      height: 12px;
      border-radius: 8px;
      background: var(--bg-color-btn-primary);
      order: 2;
    }
  }
}
